<div class="side-bar-header">
  <div class="header-name">
    <% if user_signed_in? %>
      <%= link_to current_user.nickname, edit_user_registration_path(current_user) %>
    <% elsif adviser_signed_in? %>
      <%= link_to current_adviser.nickname, edit_adviser_registration_path(current_user) %>
    <% end %>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <% if user_signed_in? %>
          <%= link_to room.adviser.nickname, room_messages_path(room)%>
        <% elsif adviser_signed_in? %>
          <%= link_to room.user.nickname, room_messages_path(room)%>
        <% end %>
      </div>
    </div>
  <% end %>  
</div>