<h3>トップページ</h3>
<h3><%= link_to '新規投稿', new_item_path%></h3>
<% @items.each do |item| %>
  <div class="posted-content">
    <%= image_tag item.images[1] %><br>
    <%= link_to '詳細', item_path(item.id)%>
  </div>
<% end %>